.updateEmployee {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-content: center;
  margin-top: 2rem;
  > form {
    border: 1px solid rgb(193, 193, 193);
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
  }
}
